<div class="game_show">

  <div>
    <%= @game.date.strftime("%Y/%m/%d") %>
  </div>

  <% if @game.winner_id && @game.loser_id %>

    <span class="winner"><%= @game.winner.name %></span> vs <%= @game.loser.name %>

  <% else %>

    <%= @game.blue_side_team.name %> vs <%= @game.red_side_team.name %>

  <% end %>
</div>

<div>
  First blood: <%= @game.first_team_to_get('blood').name %> (<%= @game.player_to_get_first('blood').name %>)
</div>

<div>
  First turret: <%= @game.first_team_to_get('turret').name %> (<%= @game.player_to_get_first('turret').name %>)
</div>

<div>
  First dragon: <%= @game.first_team_to_get('dragon').name %> (<%= @game.player_to_get_first('dragon').name %>)
</div>

<div>
  First baron: <%= @game.first_team_to_get('baron').name %> (<%= @game.player_to_get_first('baron').name %>)
</div>

<%= link_to 'Edit', edit_game_path(@game), method: :get %>
